@model AgWeb.Models.Cliente

@{
    ViewData["Title"] = "Agendar";
}

<style>
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .div_home_page, .button_group_e {
        width: 100%;
        max-width: 500px;
        min-height: 500px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    button {
        margin: 5px;
        width: 100%;
        color: #fff;
        border-radius: 5px;
        padding: 5px;
        border: none;
    }

    .navbar-toggler {
        width: 45px;
    }

    button:hover {
        opacity: 50%;
    }

    .ag_center {
        background: #fff;
        border-radius: 10px;
        max-height: 500px;
        border: 1px solid gray;
    }
    .green {
        background: #00D16D;
    }

    .blue {
        background: #00A3FF;
    }

    .yellow {
        background: #FFBB44;
    }

    .gray {
        background: #D1D1D1;
    }
    .li_from_nav_ag {
        border-bottom: 3px solid #00A3FF;
    }
    .item_ag{
        width: 90%;
    }
    /* Estilos para o container do formulário */
    .form-container {
        display: flex;
        flex-wrap: wrap; /* Para quebrar a linha quando necessário */
        justify-content: space-between; /* Espaço entre os elementos */
        max-width: 400px; /* Defina o tamanho máximo do quadrado */
        margin: 0 auto; /* Centralizar na página */
        padding: 10px; /* Espaçamento interno */
    }

    /* Estilos para cada item do formulário */
    .form-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        width: 49%;
    }


    /* Estilos para os campos de entrada e select */
    .form-item input,
    .form-item select,
    .form-item textarea {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    /* Estilos específicos para o campo textarea */
    .form-item textarea {
        resize: vertical;
        min-height: 150px;
            max-height: 150px;
    }

    .form-container textarea {
        min-width: 380px;
        width: 100% !important;
    }

    .confirm_t{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .data_ag{
        font-size: 20px;
    }

    .item:first-child {
        align-self: flex-start;
        width: 100%;
        text-align: center;
    }

    /* Centralizar os demais elementos verticalmente */
    .item:not(:first-child) {
        margin-top: auto;
        margin-bottom: auto;
    }
</style>
<div class="div_home_page ag_center">
    <p>Realizar agendamento</p>
    <p>Favor, fornecer dados para agendamento...</p>
    <form asp-controller="Clientes" asp-action="AddAgendamento" method="post">
        <div class="form-container">
            <div class="form-item">
                <label asp-for="Nome">Nome:</label>
                <input type="text" id="Nome" name="Nome" asp-for="Nome" placeholder="Seu nome...">
            </div>
            <div class="form-item">
                <label asp-for="Servico">Serviço:</label>
                <select asp-for="Servico" id="Servico" name="Servico">
                    <option value="0">Selecione...</option>
                    <option value="Prestação de Serviços">Prestação de Serviços</option>
                    <option value="Atualização cadastral">Atualização cadastral</option>
                    <option value="Inscrição em processo">Inscrição em processo</option>
                </select>
            </div>
            <div class="form-item">
                <label asp-for="Horario">Horário:</label>
                <input type="time" asp-for="Horario" id="Horario" name="Horario">
            </div>
            <div class="form-item">
                <label asp-for="Data">Data:</label>
                <input asp-for="Data" type="date" id="Data" name="Data">
            </div>
            <div class="form-item">
                <label asp-for="Descricao">Descrição:</label>
                <textarea id="Descricao" asp-for="Descricao" name="Descricao" placeholder="Informações adicionais..."></textarea>
            </div>
        </div>
        <div class="button_group_e item_ag">
            <button type="submit" class="blue"><b>CONFIRMAR AGENDAMENTO</b></button>
        </div>
    </form>
</div>

<div class="div_home_page ag_center confirm_t">
    @if (!string.IsNullOrEmpty(Context.Request.Query["Horario"].ToString()))
    {
        <p class="title_p item">Confirmação do agendamento</p>
        <p class="data_ag item">@Context.Request.Query["Data"].ToString() - @Context.Request.Query["Horario"].ToString()</p>
        <p class="logo_frame item"><img src="~/source/symbol_yes.png" /></p>
        <p class="status item">Agendamento realizado com sucesso!</p>
    }
    else if (!string.IsNullOrEmpty(Context.Request.Query["Horario"].ToString()) && bool.Parse(Context.Request.Query["Aviso"]))
    {
        <p class="title_p item">Confirmação do agendamento</p>
        <p class="data_ag item">Agendamento não pode ser realizado, dados incompletos ou incompatíveis!</p>
        <p class="logo_frame item"><img src="~/source/symbol_att.png" /></p>
        <p class="status item">Agendamento não realizado!</p>
    }
    else
    {
        <p class="title_p item">Confirmação do agendamento</p>
        <p class="data_ag item">Aguardando inserção dos dados...</p>
        <p class="logo_frame item"><img src="~/source/symbol_att.png" /></p>
        <p class="status item">In process</p>
    }

</div>
